<div class="create-trails">
  <div>
    <span class="title">Criar Trilhas</span>
  </div>


  <div class="wrapper-progressBar">
    <ul class="progressBar">
      <li class="active">Tema</li>
      <li>Módulos</li>
      <li>Aulas</li>
    </ul>
  </div>

  <form>
    <div class="form-group">
      <span>Nome da Trilha</span>
      <input id="name" />
    </div>
    <div class="form-group">
      <span>Área de atuação</span>
      <input id="area" />
    </div>

    <div class="actions">
      <button class="cancel">Cancelar</button>
      <button class="confirm">Avançar</button>
    </div>
  </form>

  <div class="invite-email">
    <span>An enterprise template to ramp up your company website</span>
    <div>
      <input type="email" placeholder="Your email address" />
      <button class="confirm">Start now</button>
    </div>
  </div>
</div>
